<div>
    <!-- Left Aligned -->
    <section id="boxOne">
        <div class="shado-banner ribbon">
            <div id="title-wrapper">
                <h1 class="no-margin no-border">Residential Dishwashers</h1>
                <p class="sans-txt">Energy Star Calculator + Data Visualization Dashboard</p>
                <br><br>
                <a href="https://www.energystar.gov/sites/default/files/asset/document/appliance_calculator.xlsx">
                    <img src="/assets/img/calculator128.png"><br>
                    Click For Savings
                </a>
            </div>
        </div>
    </section>

    <div id="productstable">
        <table class="darkTable">
            <thead>
                <tr>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>More Info</th>
                    <th>Most Efficient</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a>
                            <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                 {{!-- {{#each products}} --}}
                <tr>
                    {{!-- <td>{{brand_name}}</td>
                    <td>{{model_number}}</td>
                    <td>{{additional_model_information}}</td>
                    <td>{{meets_most_efficient_criteria}}</td> --}}
                </tr>
                {{!-- {{/each}} --}}
                <tr>
                    <td>Samsung</td>
                    <td>DW80K7050**</td>
                    <td>StormWash™ Heavy Duty Wash System, Third Rack, Stainless Steel Tub, ENERGY STAR® rated: 239 kWh/Year</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Miele</td>
                    <td>G 6625 SCU</td>
                    <td>QuickIntenseWash, 3D+ cutlery tray, AutoOpen drying, China & Crystal program, 45 dBa</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Asko</td>
                    <td>DFI663*</td>
                    <td>Hidden controls, 17 place-setting capacity, 9Spray™ wash system, LED lit interior & display</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Beko</td>
                    <td>DIT28430</td>
                    <td>Water Use Gallons Cycle: 2.4, Better Than US Federal Standard (kWh/yr): 27, Annual Energy Use (kWh/yr): 225</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Miele</td>
                    <td>G 6885 SCVi</td>
                    <td>MaxiComfort basket design, ExtraQuiet program (39 dBa), BrilliantLight, 11 wash programs</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Smeg</td>
                    <td>STU8642</td>
                    <td>13 Place Settings, Flexiduo 3rd Rack, 10 Wash Cycles, 4 Hour Delay Timer, in Panel Ready</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Summit Professional</td>
                    <td>DW18SS2*</td>
                    <td>Just under 18" wide for an easy fit in space-challenged kitchens, Four wash settings, Advanced sound absorption</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Samsung</td>
                    <td>DW80M95**U*</td>
                    <td>WaterWall™Technology, Zone Booster™ Targeted Cleaning, AutoRelease™Drying, Doesn’t disturb daily life</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Miele</td>
                    <td>G 4780 SCVi</td>
                    <td>Slimline design, Perfect GlassCare system, ADA compliant, AutoSensor technology, 46 dBa</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Miele</td>
                    <td>G 4720 SCi</td>
                    <td>Slimline design, Perfect GlassCare system, Cutlery tray, 10 place settings, ComfortClose door, 46 dBa</td>
                    <td>YES</td>
                </tr>
            </tbody>
            </tr>
        </table>
    </div>

    <iframe height='485' scrolling='no' title='d3 pie chart with tooltips' src='//codepen.io/newamsterdamn/embed/BvaBjL/?height=265&theme-id=0&default-tab=js,resultundefined&editable=true'
        frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/newamsterdamn/pen/BvaBjL/'>d3
            pie chart with tooltips</a> by Salil Bhise (<a href='https://codepen.io/newamsterdamn'>@newamsterdamn</a>)
        on
        <a href='https://codepen.io'>CodePen</a>.
    </iframe>

    <iframe height='600' scrolling='no' title='D3.js Multi-Foci Force layout animated example' src='//codepen.io/newamsterdamn/embed/roNBoR/?height=265&theme-id=0&default-tab=js,resultundefined&editable=true'
        frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/newamsterdamn/pen/roNBoR/'>D3.js
            Multi-Foci Force layout animated example</a> by Salil Bhise (<a href='https://codepen.io/newamsterdamn'>@newamsterdamn</a>)
        on <a href='https://codepen.io'>CodePen</a>.
    </iframe>

    <style>
        .navbar-fixed {
            margin-bottom: 0px;
        }
    </style>
