<div>
    <!-- Left Aligned -->
    <section id="boxOne">
        <div class="shado-banner ribbon">
            <div id="title-wrapper">
                <h1 class="no-margin no-border">Residential Clothes Dryers</h1>
                <p class="sans-txt">Energy Star Calculator + Data Visualization Dashboard</p>
                <br><br>
                <a href="https://www.energystar.gov/sites/default/files/asset/document/appliance_calculator.xlsx">
                    <img src="/assets/img/calculator128.png"><br>
                    Click For Savings
                </a>
            </div>
    </section>

    <div id="productstable">
        <table class="darkTable">
            <thead>
                <tr>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>More Info</th>
                    <th>Most Efficient</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a>
                            <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                {{!-- {{#each products}} --}}
                <tr>
                    {{!-- <td>{{brand_name}}</td>
                    <td>{{model_number}}</td>
                    <td>{{additional_model_information}}</td>
                    <td>{{meets_most_efficient_criteria}}</td> --}}
                </tr>
                {{!-- {{/each}} --}}
                <tr>
                    <td>LG</td>
                    <td>DLHX4072*</td>
                    <td>EcoHybridTM Energy-Saving Technology, 7.3 cu. ft. ultra large capacity, TrueSteam Technology, SmartDiagnosis</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Blomberg</td>
                    <td>DHP24400W</td>
                    <td>Compact 24’’ design- designed for small-space living, 13 bath towels in one load, Baby Sanitize cycle</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Beko</td>
                    <td>HPD24412W</td>
                    <td>HeatPump Ventless dryer, No damp laundry with OptiSense™ sensor drying technology</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Samsung</td>
                    <td>DV22N680*H*</td>
                    <td>Heat pump technology, Troubleshoot straight from your smartphone, 12 preset drying cycles, Reversible door</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Asko</td>
                    <td>T208H.W.U</td>
                    <td>Heavy-duty construction, Butterfly™ drying system, Soft Drum™ technology, Quiet operation—65 dB(A), LCD display</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Blomberg</td>
                    <td>DHP24412W</td>
                    <td>Gentle and super efficient drying with ventless heat pump technology, Dry up to 13 bath towels in one load</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Maytag</td>
                    <td>MEDB835DW</td>
                    <td>8.8 cu. ft. 240-Volt White Electric Vented, Advance Moisture Sensing, Not Stackable</td>
                    <td>NO</td>
                </tr>
                <tr>
                    <td>Whirlpool</td>
                    <td>WED75HEFW</td>
                    <td>7.4 cu. ft. with Advance Moisture Sensing, QUAD BAFFLES dry large and small items evenly</td>
                    <td>NO</td>
                </tr>
                <tr>
                    <td>Bosch</td>
                    <td>WTG86402UC</td>
                    <td>800 Series 24 in. 4 cu. ft. White with Chrome Accents, Condensate Drying – NO DUCTING REQUIRED</td>
                    <td>NO</td>
                </tr>
                <tr>
                    <td>GE</td>
                    <td>GFD49ERPKRR</td>
                    <td>8.3 cu. ft. 240 Volt Ruby Red Electric, RightHeight Built-in Pedestal, HE Sensor Dry</td>
                    <td>NO</td>
                </tr>
            </tbody>
            </tr>
        </table>
    </div>

    <iframe height='485' scrolling='no' title='d3 pie chart with tooltips' src='//codepen.io/newamsterdamn/embed/ebYOzK/?height=265&theme-id=0&default-tab=css,resultundefined&editable=true'
        frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/newamsterdamn/pen/ebYOzK/'>d3
            pie chart with tooltips</a> by Salil Bhise (<a href='https://codepen.io/newamsterdamn'>@newamsterdamn</a>)
        on
        <a href='https://codepen.io'>CodePen</a>.
    </iframe>

    <iframe height='600' scrolling='no' title='D3.js Multi-Foci Force layout animated example' src='//codepen.io/newamsterdamn/embed/yGLBrQ/?height=265&theme-id=0&default-tab=js,resultundefined&editable=true'
        frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/newamsterdamn/pen/yGLBrQ/'>D3.js
            Multi-Foci Force layout animated example</a> by Salil Bhise (<a href='https://codepen.io/newamsterdamn'>@newamsterdamn</a>)
        on <a href='https://codepen.io'>CodePen</a>.
    </iframe>

    <style>
        .navbar-fixed {
            margin-bottom: 0px;
        }
    </style>
