<div>
    <!-- Left Aligned -->
    <section id="boxOne">
        <div class="shado-banner ribbon">
            <div id="title-wrapper">
                <h1 class="no-margin no-border">Residential Refrigerators</h1>
                <p class="sans-txt">Energy Star Calculator + Data Visualization Dashboard</p>
                <br><br>
                <a href="https://www.energystar.gov/sites/default/files/asset/document/appliance_calculator.xlsx">
                    <img src="/assets/img/calculator128.png"><br>
                    Click For Savings
                </a>
            </div>
    </section>

    <div id="productstable">
        <table class="darkTable">
            <thead>
                <tr>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>More Info</th>
                    <th>Most Efficient</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a>
                            <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                {{!-- {{#each products}} --}}
                <tr>
                    {{!-- <td>{{brand_name}}</td>
                    <td>{{model_number}}</td>
                    <td>{{additional_model_information}}</td>
                    <td>{{meets_most_efficient_criteria}}</td> --}}
                </tr>
                {{!-- {{/each}} --}}
                <tr>
                    <td>Dacor</td>
                    <td>DRF36C100**</td>
                    <td>Counter Depth, SteelCool™ Stainless Steel Interior, LED light columns, Dual Evaporators,
                        FreshZone™ Drawer</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Bosch</td>
                    <td>B10CB80NVS</td>
                    <td>LED Lighting Shines Exceptionally Bright and Saves Energy, HydroFresh Drawer, Wine Rack,
                        Compact Kitchen Layouts</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Conserv</td>
                    <td>MDRF375WED</td>
                    <td>72.8-inches high and slim 23.2-inches wide x 24.6-inches deep, Fast Freeze, LED Lighting, 3
                        glass shelves</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Samsung</td>
                    <td>RF23M8070**</td>
                    <td>4-Door Counter-Depth Design, 4-Step FlexZone™ Drawer, Twin Cooling Plus®, WiFi Ready, Touch
                        Button Display, LED</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Fisher & Paykel</td>
                    <td>RF201A*****</td>
                    <td>Counter depth stainless steel French door refrigerator, ActiveSmart intelligence</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Liebherr</td>
                    <td>CS2080</td>
                    <td>DuoCooling, SuperCool and SuperFrost features, Glass refrigerator shelves with stainless trim,
                        Door Open Alarm</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Samsung</td>
                    <td>RF263B*AE**</td>
                    <td>Twin Cooling Plus, 8 Cu. Ft. Freezer Capacity, Fresh, Filtered Water, 16.6 Cu. Ft. Capacity</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Dacor</td>
                    <td>DRF36750***</td>
                    <td>FreshZone™ Drawer, SteelCool™ Stainless Steel Interior with 3DLighting™, Humidity Control
                        Crispers, Door Open Alarm</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Liebherr</td>
                    <td>CBS 2062</td>
                    <td>Digital temperature display in the MagicEye, Glass with stainless steel trim, LED light column
                        and LED ceiling lighting</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Bosch</td>
                    <td>B10CB80NVW/01</td>
                    <td>LED Lighting Shines Exceptionally Bright and Saves Energy, HydroFresh Drawer, Wine Rack,
                        Auto-Defrost</td>
                    <td>YES</td>
                </tr>
            </tbody>
            </tr>
        </table>
    </div>

    <iframe height='485' scrolling='no' title='d3 pie chart with tooltips' src='//codepen.io/newamsterdamn/embed/GPRKyj/?height=265&theme-id=0&default-tab=js,resultundefined&editable=true'
        frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/newamsterdamn/pen/GPRKyj/'>d3
            pie chart with tooltips</a> by Salil Bhise (<a href='https://codepen.io/newamsterdamn'>@newamsterdamn</a>)
        on
        <a href='https://codepen.io'>CodePen</a>.
    </iframe>

    <iframe height='600' scrolling='no' title='D3.js Multi-Foci Force layout animated example' src='//codepen.io/newamsterdamn/embed/ebJMoL/?height=265&theme-id=0&default-tab=js,result'
        frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/newamsterdamn/pen/ebJMoL/'>D3.js
            Multi-Foci Force layout animated example</a> by Salil Bhise (<a href='https://codepen.io/newamsterdamn'>@newamsterdamn</a>)
        on <a href='https://codepen.io'>CodePen</a>.
    </iframe>

    {{!-- <iframe height='600' scrolling='no' title='D3.js Multi-Foci Force layout animated example' src='//codepen.io/newamsterdamn/embed/gZOYER/?height=265&theme-id=0&default-tab=js,resultundefined&editable=true'
        frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/newamsterdamn/pen/gZOYER/'>D3.js
            Multi-Foci Force layout animated example</a> by Salil Bhise (<a href='https://codepen.io/newamsterdamn'>@newamsterdamn</a>)
        on <a href='https://codepen.io'>CodePen</a>.
    </iframe> --}}

    <style>
        .navbar-fixed {
            margin-bottom: 0px;
        }
    </style>