{{!-- <div>
  <form class="searchform cf">
    <input type="text" placeholder="dryer, model number, etc...">
    <button type="submit">Search</button>
  </form>
</div> --}}

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

<ul id="categories" class="clr">
  <li class="pusher"></li>
  <li>
    <div>
      <img src="/assets/img/d31.png" alt="" />
      <h1>Data-Driven</h1>
      <p>Dedicated to helping users recognize the value of making energy-smart purchases.</p>
    </div>
  </li>
  <li>
    <div>
      <img src="/assets/img/d32.png" alt="" />
      <h1>Energy-Efficient Products</h1>
      <p>Search and browse for top-performing and top-rated appliances.</p>
    </div>
  </li>
  <li>
    <div>
      <img src="/assets/img/d33.png" alt="" />
      <h1>Data-Visualization</h1>
      <p>See the big picture. Easy to digest representations to help guide smart purchasing.</p>
    </div>
  </li>
  <li>
    <div>
      <img src="/assets/img/d34.png" alt="" />
      <h1>Savings Calculator</h1>
      <p>Do the numbers. Save your favorite products to compare energy consumption and operating costs. </p>
    </div>
  </li>
</ul>

<style>
  body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url("/assets/img/hexblack.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: cover;
  }
</style>