<center><h1>Search Results</h1></center>

    <div id="searchresultstable">
        <table class="darkTable">
            <thead>
                <tr>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>More Info</th>
                    <th>Most Efficient</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a>
                            <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td>LG</td>
                    <td>WM9500H*A</td>
                    <td>5.8 cu. ft. Mega Capacity TurboWash Washer with Steam Technology, NFC Tag On</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Samsung</td>
                    <td>WF56H91**A*</td>
                    <td>5.6cu.ft., PowerFoam, Steam, Super Speed, VRT Plus, Self Clean+, Smart Care, 15 Cycles</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Kenmore</td>
                    <td>4196</td>
                    <td>Smart Motion Technology, Cold Clean Wash Cycle, Add Garments, Accela Wash Option, Small Load
                        Wash
                        Cycle</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>LG</td>
                    <td>WM8100H*A</td>
                    <td>TWINwash, 5.2 cu. ft. Mega capacity, TurboWash Technology, Steam Technology, 10 Year Limited
                        Warranty</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Electrolux</td>
                    <td>EFLS627****</td>
                    <td>Stain removal with SmartBoost, World’s first Adaptive Dispenser™ designed to accept PODS,
                        15-Minute
                        Fast Wash</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Blomberg</td>
                    <td>WM 98400 SX2</td>
                    <td>2.5 cu.ft highest compact size, Super quick 20’ and quick wash 35’ programs, Delayed Wash
                        feature</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Samsung</td>
                    <td>WF50K75**A*</td>
                    <td>5.0 cu. ft. AddWash Front Load Washer, Super Speed cycle, PowerFoam, Steam Wash, VRT Plus
                        Technology</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Kenmore</td>
                    <td>4126</td>
                    <td>Smart Motiuon Technology, Direct Drive Warranty, Diagnostics</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Beko</td>
                    <td>WMY 10148 C2</td>
                    <td>2.5 cu.ft highest compact size, Super quick 20’ program, Delayed Wash feature</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Electrolux</td>
                    <td>EFLS527****</td>
                    <td>SmartBoost keeps colors vibrant longer, Sanitize option, StainSoak option eliminates pre-treat</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Dacor</td>
                    <td>DRF36C100**</td>
                    <td>Counter Depth, SteelCool™ Stainless Steel Interior, LED light columns, Dual Evaporators,
                        FreshZone™
                        Drawer</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Bosch</td>
                    <td>B10CB80NVS</td>
                    <td>LED Lighting Shines Exceptionally Bright and Saves Energy, HydroFresh Drawer, Wine Rack,
                        Compact
                        Kitchen
                        Layouts</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Conserv</td>
                    <td>MDRF375WED</td>
                    <td>72.8-inches high and slim 23.2-inches wide x 24.6-inches deep, Fast Freeze, LED Lighting, 3
                        glass
                        shelves</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Samsung</td>
                    <td>RF23M8070**</td>
                    <td>4-Door Counter-Depth Design, 4-Step FlexZone™ Drawer, Twin Cooling Plus®, WiFi Ready, Touch
                        Button
                        Display, LED</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Fisher & Paykel</td>
                    <td>RF201A*****</td>
                    <td>Counter depth stainless steel French door refrigerator, ActiveSmart intelligence</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Liebherr</td>
                    <td>CS2080</td>
                    <td>DuoCooling, SuperCool and SuperFrost features, Glass refrigerator shelves with stainless trim,
                        Door
                        Open Alarm</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Samsung</td>
                    <td>RF263B*AE**</td>
                    <td>Twin Cooling Plus, 8 Cu. Ft. Freezer Capacity, Fresh, Filtered Water, 16.6 Cu. Ft. Capacity</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Dacor</td>
                    <td>DRF36750***</td>
                    <td>FreshZone™ Drawer, SteelCool™ Stainless Steel Interior with 3DLighting™, Humidity Control
                        Crispers,
                        Door Open
                        Alarm</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Liebherr</td>
                    <td>CBS 2062</td>
                    <td>Digital temperature display in the MagicEye, Glass with stainless steel trim, LED light column
                        and
                        LED ceiling
                        lighting</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Bosch</td>
                    <td>B10CB80NVW/01</td>
                    <td>LED Lighting Shines Exceptionally Bright and Saves Energy, HydroFresh Drawer, Wine Rack,
                        Auto-Defrost</td>
                    <td>YES</td>
                </tr>
            </tbody>
            </tr>
        </table>
    </div>
</div>

<style>
    .navbar-fixed {
        margin-bottom: 0px;
    }    
</style>