<div>
    <!-- Left Aligned -->
    <section id="boxOne">
        <div class="shado-banner ribbon">
            <div id="title-wrapper">
                <h1 class="no-margin no-border">Residential Clothes Washers</h1>
                <p class="sans-txt">Energy Star Calculator + Data Visualization Dashboard</p>
                <br><br>
                <a href="https://www.energystar.gov/sites/default/files/asset/document/appliance_calculator.xlsx">
                    <img src="/assets/img/calculator128.png"><br>
                    Click For Savings
                </a>
            </div>
        </div>
    </section>

    <div id="productstable">
        <table class="darkTable">
            <thead>
                <tr>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>More Info</th>
                    <th>Most Efficient</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a>
                            <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                {{!-- {{#each products}} --}}
                <tr>
                    {{!-- <td>{{brand_name}}</td>
                    <td>{{model_number}}</td>
                    <td>{{additional_model_information}}</td>
                    <td>{{meets_most_efficient_criteria}}</td> --}}
                </tr>
                {{!-- {{/each}} --}}
                <tr>
                    <td>LG</td>
                    <td>WM9500H*A</td>
                    <td>5.8 cu. ft. Mega Capacity TurboWash Washer with Steam Technology, NFC Tag On</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Samsung</td>
                    <td>WF56H91**A*</td>
                    <td>5.6cu.ft., PowerFoam, Steam, Super Speed, VRT Plus, Self Clean+, Smart Care, 15 Cycles</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Kenmore</td>
                    <td>4196</td>
                    <td>Smart Motion Technology, Cold Clean Wash Cycle, Add Garments, Accela Wash Option, Small Load Wash Cycle</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>LG</td>
                    <td>WM8100H*A</td>
                    <td>TWINwash, 5.2 cu. ft. Mega capacity, TurboWash Technology, Steam Technology, 10 Year Limited Warranty</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Electrolux</td>
                    <td>EFLS627****</td>
                    <td>Stain removal with SmartBoost, World’s first Adaptive Dispenser™ designed to accept PODS, 15-Minute Fast Wash</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Blomberg</td>
                    <td>WM 98400 SX2</td>
                    <td>2.5 cu.ft highest compact size, Super quick 20’ and quick wash 35’ programs, Delayed Wash feature</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Samsung</td>
                    <td>WF50K75**A*</td>
                    <td>5.0 cu. ft. AddWash Front Load Washer, Super Speed cycle, PowerFoam, Steam Wash, VRT Plus Technology</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Kenmore</td>
                    <td>4126</td>
                    <td>Smart Motiuon Technology, Direct Drive Warranty, Diagnostics</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Beko</td>
                    <td>WMY 10148 C2</td>
                    <td>2.5 cu.ft highest compact size, Super quick 20’ program, Delayed Wash feature</td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td>Electrolux</td>
                    <td>EFLS527****</td>
                    <td>SmartBoost keeps colors vibrant longer, Sanitize option, StainSoak option eliminates pre-treat</td>
                    <td>YES</td>
                </tr>
            </tbody>
            </tr>
        </table>
    </div>

    <iframe height='485' scrolling='no' title='d3 pie chart with tooltips' src='//codepen.io/newamsterdamn/embed/VqwZJK/?height=265&theme-id=0&default-tab=js,resultundefined&editable=true'
        frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/newamsterdamn/pen/VqwZJK/'>d3
            pie chart with tooltips</a> by Salil Bhise (<a href='https://codepen.io/newamsterdamn'>@newamsterdamn</a>)
        on
        <a href='https://codepen.io'>CodePen</a>.
    </iframe>

    <iframe height='600' scrolling='no' title='D3.js Multi-Foci Force layout animated example' src='//codepen.io/newamsterdamn/embed/vvYYBg/?height=265&theme-id=0&default-tab=js,resultundefined&editable=true'
        frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/newamsterdamn/pen/vvYYBg/'>D3.js
            Multi-Foci Force layout animated example</a> by Salil Bhise (<a href='https://codepen.io/newamsterdamn'>@newamsterdamn</a>)
        on <a href='https://codepen.io'>CodePen</a>.
    </iframe>

    <style>
        .navbar-fixed {
            margin-bottom: 0px;
        }
    </style>